.jumbotron{
    background-color: #02ffea;
    padding-top: 1rem;
    margin-top: 3rem;
}

section {
    padding-top: 5rem ;
}


#Project {
    background-color: #02ffea;
}

#footer {
    background-color: #02ffea;
}

section {
    padding-top: 5 rem;
}